{% extends 'homepage.html' %}

{% block body %}
  <div class="container mt-5 mb-2 h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-auto">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">

            {% block usuario %}

                <div class="flex-shrink-0 my-auto">
                  <img src="{{ foto_perfil }}"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 180px; border-radius: 10px;">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1">{{ current_user.username }}</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ current_user.email }}</p>

                  <div class="d-flex justify-content-between rounded p-2 mb-2" style="background-color: #efefef;">

                      <div class="d-flex flex-column align-items-center">
                        <p class="small text-muted mb-1">Posts</p>
                        <p class="mb-0" style="font-weight: bold">{{ current_user.contar_posts() }}</p>
                      </div>

                      <div class="d-flex flex-column align-items-center">
                        <p class="small text-muted mb-1">Cursos</p>
                        {% if current_user.cursos != 'Não informado' %}
                           <p class="mb-0" style="font-weight: bold">
                             {{ current_user.cursos.count(';') }}
                           </p>
                        {% else %}
                           <p class="mb-0" style="font-weight: bold">0</p>
                        {% endif %}
                      </div>
                </div>
            {% endblock %}

            {% block botao %}
                 <div class="d-flex pt-1">
                  <a href="#posts">
                    <button type="button" class="btn btn-primary me-1 flex-grow-1">Meus Posts</button>
                  </a>
                  <a href="{{ url_for('editar_perfil') }}">
                    <button type="button" class="btn btn-outline-primary flex-grow-1">Editar Perfil</button>
                  </a>
                </div>
            {% endblock %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="row justify-content-center">
  <div class="col col-6" style="text-align:center">
    <strong>Cursos</strong><br>
    {% if 'Python' in current_user.cursos %}
      <button type="button" class="btn btn-primary mt-2" disabled>Python</button>
    {% endif %}
    {% if 'SQL' in current_user.cursos %}
      <button type="button" class="btn btn-secondary mt-2" disabled>SQL</button>
    {% endif %}
    {% if 'HTML' in current_user.cursos %}
      <button type="button" class="btn btn-success mt-2" disabled>HTML</button>
    {% endif %}
    {% if 'VBA' in current_user.cursos %}
      <button type="button" class="btn btn-danger mt-2" disabled>VBA</button>
    {% endif %}
    {% if 'PowerBI' in current_user.cursos %}
      <button type="button" class="btn btn-warning mt-2" disabled>PowerBI</button>
    {% endif %}
    {% if 'CSS' in current_user.cursos %}
      <button type="button" class="btn btn-info mt-2" disabled>CSS</button>
    {% endif %}
    {% if 'JavaScrypt' in current_user.cursos %}
      <button type="button" class="btn btn-light mt-2" disabled>JavaScrypt</button>
    {% endif %}
    {% if 'C#' in current_user.cursos %}
      <button type="button" class="btn btn-dark mt-2" disabled>C#</button>
    {% endif %}
    {% if 'Não informado' in current_user.cursos or current_user.cursos.count(';')==0 %}
      <button type="button" class="btn btn-outline-dark" disabled>Não informado</button>
    {% endif %}
  </div>
</div>

<hr>
<div class="container mt-3" id="posts">
    {% for post in posts %}
        <div class="row border m-4 p-3" style="background-color: #f2f5f8">
            <div class="col col-3">
                <div class="flex-shrink-0" style="text-align: center">
                    <img src="{{  url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 200px; border-radius: 10px;">
                    <div class="mt-2" style="text-align: center">
                        <strong>{{ post.autor.username }}</strong>
                    </div>
                </div>
            </div>

            <div class="col col-9">
                <a style="text-decoration: none" href="{{ url_for('exibir_post', id=post.id) }}"><h3>{{ post.titulo }}</h3></a>
                <p>{{ post.corpo }}</p>
            </div>

            <div align="right">
                <small>Data de criação: {{ post.data_criacao.strftime("%d/%m/%Y") }}</small>
            </div>
        </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

{% block form_editar_perfil %}
{% endblock %}


{% endblock %}